# Node modules
/node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build directories (if using bundlers like Webpack or Babel)
build/
dist/

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary files
*.swp
*.swo
